#formContainer {
	margin-top: 25px;
	margin-bottom: 25px;
}

.topSpace {
	margin-top: 25px;
}

#measureUnits {
	text-transform: capitalize;
}

#measureUnits span {
	text-transform: none;
}

.disabled {
	color: gray;
	cursor: not-allowed;
}

.invisible {
	visibility: hidden;
}

.unbold {
	font-weight: normal;
	font-style: italic;
}
