#formContainer {
	margin-top: 25px;
	margin-bottom: 25px;
}

#material {
	width: 50%;
}

.materials {
	margin-bottom: 20px;
}

.dimensions {
	padding-top: 5px;
	padding-bottom: 5px;
}

.topSpace {
	margin-top: 25px;
}

.checkbox {
	margin-top: 30px;
	padding-top: 40px;
}

#measureUnits {
	text-transform: capitalize;
}

#measureUnits span {
	text-transform: none;
}

.disabled {
	color: gray;
	cursor: not-allowed;
}

.invisible {
	visibility: hidden;
}

.unbold {
	font-weight: normal;
	font-style: italic;
}
