<div class="form-group">
	<div class="form-group">
		<label for="materials">Materials</label>
		<select class="form-control" id="material">
			{{#each itemEnums.material}}
				<option>{{.}}</option>
			{{/each}}
		</select>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" value="">
				<strong>Check this box</strong> if the listing contains or may contain restricted materials
		</label>
	</div>
		<label for="measurements">Measurements</label>
		<label class="checkbox-inline">
			Measurements are in: 
		</label>
		<label class="checkbox-inline">
			Measured item is:
		</label>

		<!-- Write the measurements input fields -->
	
	</div>
	<div class="form-group">
		<label for="condition">Condition (Select one)</label>
	</div>
</div>